body   {
    background-color: black;
}

.header-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;             
    padding: 20px;
    position: relative;
}

.vhod {
    display: flex;
    position: absolute;
    right: 40px;
}

.name {
    color: white;
    text-align: center;
    margin: 5px;
    font-family: 'Arial', sans-serif;
}

.name h1 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 0 0 10px #4169E1,    /* ближнее свечение */
                 0 0 20px #4169E1,    /* среднее свечение */
                 0 0 30px #4169E1;
}


.vhod button {
    padding: 5px;
    background-color: #224dcf;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.vhod button:hover {
    background-color: #0c3f09;
    transform: translateY(-3px);
}

.main-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.name-game {
    font-size: 20px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Arial', sans-serif;
    text-shadow: 0 0 10px #5e0808,    /* ближнее свечение */
                 0 0 20px #5e0808,    /* среднее свечение */
                 0 0 30px #5e0808;
}

.game-button {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 500px;
    background-color: #224dcf;
    border-radius: 10px;
    font-size: 16px;
}

.game-button button {
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #176c11;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-button button:hover {
    background-color: #1a8614;
    transform: scale(1.1);   /* кнопка увеличивается */
}